#panel{
    padding: 70px;
    position: center;
    justify-content: center;
}

.card-body{
    background: lightgray;
}

#btnRegistrarse{
    text-align: center;
    width: 110px;
    height: 50px;
}

#btnIniciar{
    text-align: center;
    width: 110px;
    height: 50px;
}

#btnEnviarCorreo{
    text-align: center;
    height: 50px;
}

