th {
    background-color: lightslategray;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:hover {background-color: #f5f5f5;}

table {
    width: 80%;
}

th {
    height: 50px;
}
